

#contenedor{
width:1000px;
margin:auto;
height:auto;
padding:inherit;
border-bottom:none;
display:inherit;
background:#FFF;
height:auto;
}

#cabezera{
text-align:left;
width:1000px;
height:40px;
background-color:#FFF;
}

.usuario{
text-align:left;
width:990px;
background-color:#FFEF0C;
margin:auto;
height:auto;
padding:5px;
font-size:10px;
}

#contenido{
background-color:#FFF;
margin:auto;
width:auto;
border-bottom:10px solid #18A1B1;
overflow:auto;
} 

#ajax{
width:auto;
padding:20px;
border-bottom:0px;
border-left: 10px solid #18A1B1;
border-right: 10px solid #18A1B1;
height:700px;
overflow:auto;
}
	